/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {

}

:root .theme_dark {
  --color-title: #DB00FF;
  --color-background: #FF0070;
  --color-paragraph: #000028;
  --color-text: #F1B2CE;
  --color-decor: #FF0070;
  --decor-display: flex;
  --background-image: url(../images/cover-image-dark.png);
  --color-focus: #FF0070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-title: #DB00FF;
    --color-background: #FF0070;
    --color-paragraph: #000028;
    --color-text: #F1B2CE;
    --color-decor: #FF0070;
    --decor-display: flex;
    --background-image: url(../images/cover-image-dark.png);
    --color-focus: #FF0070;
  }
}