/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --color-title: #FFC2E6;
  --color-content-title: #353430;
  --color-background: #FF8DCB;
  --color-paragraph:#000028;
  --color-text: #353430;
  --color-decor: #353430;
  --decor-display: none;
  --background-image: url(../images/cover-image-light.png);
  --color-focus: #353430;
  --color-focus-link: #353430;
  --color-hover: rgba(50, 49, 45, 0.40);
  --color-boxshadow: gray;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-title: #FFC2E6;
    --color-content-title: #353430;
    --color-background: #FF8DCB;
    --color-paragraph:#000028;
    --color-text: #353430;
    --color-decor: #353430;
    --decor-display: none;
    --background-image: url(../images/cover-image-light.png);
    --color-focus: #353430;
    --color-focus-link: #353430;
    --color-hover: rgba(50, 49, 45, 0.40);
    --color-boxshadow: gray;
  }
}