/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light  {
  --color-title: #FFC2E6;
  --color-background: #FF8DCB;
  --color-paragraph:#000028;
  --color-text: #353430;
  --color-decor: #353430;
  --decor-display: none;
  --background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-title: #FFC2E6;
    --color-background: #FF8DCB;
    --color-paragraph:#000028;
    --color-text: #353430;
    --color-decor: #353430;
    --decor-display: none;
    --background-image: url(../images/cover-image-light.png);
  }
}

.page.theme_light {
  --color-title: #FFC2E6;
  --color-background: #FF8DCB;
  --color-paragraph:#000028;
  --color-text: #353430;
  --color-decor: #353430;
  --decor-display: none;
  --background-image: url(../images/cover-image-light.png);
}
