/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.title-decor {
  background-color: var(--color-background);
  color: var(--color-paragraph);
  font-weight: var(--font-title-weigth);
  line-height: 130%;
  font-size: var(--font-size);
}

.text-decor {
  color: var(--color-text);
  font-weight: var(--font-text-weigth);
  line-height: 130%;
}

.page {
  font-family: var(--main-font), sans-serif;
  background-image: var(--background-image);
  font-size: var(--font-size);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

.header {
  min-block-size: 668px;
  block-size: 100vh;
  max-inline-size: 100%;
  position: relative;
  padding-right: 20px;
}

.header::before {
  content: "";
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--color-decor);
  border-top: 1px solid var(--color-decor);
  box-sizing: border-box;
  position: absolute;
  right: 20px;
  top: 19px;
}

.header::after {
  content: '';
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--color-decor);
  border-bottom: 1px solid var(--color-decor);
  box-sizing: border-box;
  position: absolute;
  bottom: 21px;
  left: 20px;
}

.header__decor {
  position: absolute;
  box-sizing: border-box;
  right: 29px;
  top: 23px;
  display: var(--decor-display);
  gap: 10px;
  align-items: center;
}

.header__decor::after {
  content: '';
  border-radius: 5px;
  width: 9px;
  height: 9px;
  background-color: var(--color-background);
  box-shadow: 0px 0px 5px 3px var(--color-background);
}

.decorated-zone {
  line-height: 100%;
  color: var(--color-decor);
}

.header__theme-menu {
  padding: 20px 0 0 20px;
}

.header__theme-menu-list {
  display: inline-grid;
  grid-template-columns: 70px 70px 70px;
  align-items: start;
  gap: 10px;
  list-style-type: none;
}

.header__theme-menu-button {
  padding: 0px 13px 3px 13px;
  outline: none;
  transition: transform 0.5s;
  border-radius: 50px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-hover);
  transform: scale(1.1);
  box-shadow:0px 0px 10px 1px var(--color-background), 0px 0.5px 1px 0px var(--color-boxshadow) inset;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  padding: 0px 13px 3px 13px;
  border-bottom: 1px solid var(--color-focus);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

#day {
  transform-origin: right;
}

#auto {
  transform-origin: center;
}

#neon {
  transform-origin: left;
}

.header__title {
  display: grid;
  grid-template-rows: 403px;
  align-items: end;
  justify-items: start;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

.main__title-decorated {
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--color-background);
  color: var(--color-title);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

.paragraph__blok {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header__paragraph {
  margin-top: 114px;
  width: 491px;
  text-align: start;
}

.link__decorated {
  text-shadow: 1px 1px 0 var(--color-background);
  text-decoration: none;
} 

.link__decorated:hover {
  border-bottom: 2px solid var(--color-text);
  color: var(--color-background);
  transition: color 0.5s;
}

.link__decorated:focus {
  outline: none;
}

.link__decorated:focus-visible {
  padding: 0px 13px 3px 13px;
  outline: 1px solid var(--color-focus-link);
  transition: outline 0.5s;
}

.content {
  display: grid;
  gap: 80px;
  padding: 0 20px;
  margin-top: 60px;
  text-align: left;
}

.content__one-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.content__one-section-title {
  color: var(--color-content-title);
  background-color: unset;
}

.content-paragraph-text {
  display: flex;
  flex-direction: column;
}

.content__one-section-text {
  padding: 10px 0 20px 0;
}

.content__one-section-text:last-child {
  padding-bottom: 0px;
}

.content__two-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
}

.content__two-section-title {
  color: var(--color-content-title);
  background-color: unset;
  max-width: 300px;
}

.content__two-section-list {
  display: flex;
  gap: 20px;
}

.content__two-section-item {
  display: flex;
  flex-direction: column;
  max-width: 314px;
}

.content__two-section-paragraph {
  margin-bottom: 10px;
}

.content__three-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 12px;
}

.content__three-section-title {
  background-color: unset;
  color: var(--color-content-title);
  gap: 20px;
}

.content__three-section-paragraph {
  display: flex;
  margin-bottom: 10px;
}

.content__three-section-paragraph:first-child {
  margin-bottom: 20px;
}

.content__three-section-paragraph:not(:first-child) {
  font-weight: var(--font-text-weigth);
}


.content__three-section-text {
  margin-bottom: 20px;
}

.content__three-section-text:last-child {
  margin-bottom: 0;
}

.picture-grid {
  margin-bottom: 60px;
}

.picture-grid__title {
  margin-bottom: 20px;
}

.picture-grid__list {
  display: grid;
  gap: 20px;
}

.picture__scale {
  transition: transform 0.5s;
}

.picture__scale:hover {
  transform: scale(1.04);
}

.picture-grid__list-sunset {
  width: 100%;
  grid-column: 1 / span 2;
}
.picture-grid__list-ice-cream {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column: 3 / 4;
  grid-row-start: 1;
  grid-row-end: 3;
  gap: 0;
}
.picture-grid__list-books {
  width: 100%;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}
.picture-grid__list-tape {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column: 1 / 1;
  grid-row: 2 / span 2;
}
.picture-grid__list-street {
  width: 100%;
  grid-column: 2 / 4;
  grid-row: 3 / 3;
}

.footer {
  min-block-size: 667px;
  block-size: 100vh;
  max-inline-size: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer::before {
  content: "";
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--color-decor);
  border-top: 1px solid var(--color-decor);
  box-sizing: border-box;
  position: absolute;
  right: 20px;
  top: 19px;
}

.footer::after {
  content: '';
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--color-decor);
  border-bottom: 1px solid var(--color-decor);
  box-sizing: border-box;
  position: absolute;
  bottom: 21px;
  left: 20px;
}

.footer__title {
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--color-background);
  color: var(--color-title);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

@media (600px<=width<=800px) {

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 23.9%;
    gap: 13px;
  }

  .main__title-decorated {
    grid-template-rows: 270px;
  }
  
  .header__paragraph {
    display: flex;
    max-width: 364px;
    margin-top: 162px;
  }

  .header::after {
    bottom: 21px;
    left: 20px;
  }

  .content {
    margin-top: 60px;
  }

  .content__one-section {
    gap: 20px;
  }

  .content__two-section {
    max-width: 100vh;
  }
  
  .content__two-section-list {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  .content__two-section-item {
    max-width: 100vh;
  }

  .content__two-section-title {
    max-width: 20vh;
  }

  .content__three-section {
    column-gap: 20px;
  }
}

@media (width<600px) {
  .header {
    padding: 10px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 13.9%;
    gap: 13px;
  }

  .main__title-decorated {
    grid-template-rows: 253px;
    text-align: start;
    font-size: 116px;;
  }
  
  .header__paragraph {
    display: flex;
    max-width: 364px;
    margin-top: 56px;
  }

  .header__decor {
    right: 20px;
    top: 13px;
  }

  .header::before {
    top: 10px;
    right: 10px;
  }

  .header::after {
    bottom: 10px;
    left: 10px;
  }

  .content__one-section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 20px;
  }

  .content {
    padding: 40px 10px 0 10px;
    gap: 40px;
    margin-top: 0;
  }

  .content__three-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px 0;
  }

  .content__three-section-title {
    padding-bottom: 20px;
  }

  .content__two-section {
    max-width: 100vh;
    padding-top: 10px;
  }
  
  .content__two-section-list {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  .content__two-section-item {
    max-width: 100vh;
  }

  .content__two-section-title {
    max-width: 100vh;
  }

  .picture-grid__title {
    margin-bottom: 10px;
  }

  .picture-grid__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer {
    min-block-size: 668px;
  }

  .footer__title {
    padding-bottom: 38px;
  }

  .footer::before {
    right: 11px;
    top: -10px;
  }

  .footer::after {
    bottom: 32px;
    left: 10px;
  }
}

